body {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#triviaBox {
    margin-top: 10%;
};

h1 {
    text-align: center;
};

#questionBox {
    border-style: groove;
    border-width: thick;
    border-color: lightblue;
};

#questions {
    font-size: 50px;
    font-family: Helvetica, sans-serif;
};

.ansButton {
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
  };

  .ansButton:after {
    content: "";
    position: absolute;
    display: none;
  }

  img {
      margin:auto;
  };

  /* .card {
      display: inline-block;
  }
   */